// * mixins are like Javascript functions/methods

// ? How to use
// --- declare
// @mixin functionName($param: defaultValue, ...)

// --- call
// @include functionName()

@mixin flex() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin square($size, $radius: 0) {
    width: $size;
    height: $size;

    @if $radius != 0 {
        border-radius: $radius;
    }
}